@page
@model InchirieriBiciclete.Pages.Biciclete.DeleteModel

<h2>Ștergere Bicicleta</h2>

<h3>Sigur vrei să ștergi bicicleta: @Model.Bicicleta.Nume?</h3>

<form method="post">
    <button type="submit" class="btn btn-danger">Șterge</button>
    <a href="@Url.Page("./Index")" class="btn btn-secondary">Anulează</a>
</form>
